body {
  background-color: #ee5522;
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/17/06/wall-brick-seamless-pattern-black-vector-2361706.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: row;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input {
  margin-top: 20px;
  border-radius: 50px;
  letter-spacing: 0.7px;
  width: 200px;
  font-size: large;
  outline: none;
  text-align: center;
}

button {
  margin: 20px 0;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  width: 200px;
  font-size: large;
  letter-spacing: 0.7px;
}
